node_modules
npm-debug.log
dist
build
.git
.gitignore
.env
.env.local
.env.*.local
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
.next
.nuxt
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
coverage
.nyc_output
.env.test
.cache
*.lcov
*.tsbuildinfo
